@page "/"

<PageTitle>Login</PageTitle>


<div class="container">
   <div class="row">
      <div class="card border border-2 shadow shadow-sm mt-5">
            <div class="card-header bg-primary text-white">
                Login
            </div>
            <div class="card-body">
                <form>
                  
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                

                    <div class="form-group mt-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary text-white">Ingresar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
   </div>
</div